# ETL del dataset output_steam_games.json

Se realiza el ETL del dataset para su uso en la API

In [1]:
import pandas as pd
import json

## Extracción de los datos

Se extraen los datos del archivo .json

In [2]:
# Se lee de cada línea del dataset
filas = []
with open('output_steam_games.json') as f:
    for line in f.readlines():
        data = json.loads(line)
        filas.append(data)

# Se obtiene el dataframe
df = pd.DataFrame(filas)
df

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

Se observa una gran cantidad de filas nulas por lo que se procede retirarlas del dataframe

In [3]:
# Se resetea el indice junto al proceso de retirar filas para tener mayor comprension
df = df.dropna(how='all').reset_index(drop=True)

In [4]:
df.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,False,773570,NaN

## Reconocimiento de los Datos 

Se analiza el dataframe, su tipo de datos y contenido para su limpieza

In [5]:
# Se utiliza la siguiente función para verificar el tipo de datos del dataframe

def verificar_tipo_datos(df):
    mi_dict = {"nombre_campo": [], "tipo_datos": [], "no_nulos_%": [], "nulos_%": []}
    for columna in df.columns:
        porcentaje_no_nulos = (df[columna].count() / len(df)) * 100
        mi_dict["nombre_campo"].append(columna)
        mi_dict["tipo_datos"].append(df[columna].apply(type).unique())
        mi_dict["no_nulos_%"].append(round(porcentaje_no_nulos, 2))
        mi_dict["nulos_%"].append(round(100-porcentaje_no_nulos, 2))
    df_info = pd.DataFrame(mi_dict)
    for columna in df.columns:
        print(columna, " (nulos) = ", df[columna].isnull().sum())
    print("\nfilas completamente nulas: ", df.isna().all(axis=1).sum())

    return df_info

# La siguente función es para revisar los valores unicos de cada columna para estandarizar
def verificar_datos_unicos(df):
    columnas_df = df.columns.tolist()
    tipos_datos = [float, int, str]
    for columna in columnas_df:
        for tipo in tipos_datos:
            filtro = df[columna][df[columna].apply(lambda x: isinstance(x, tipo))]
            valores_unicos = filtro.unique()
            print(columna, " (", tipo.__name__, ") ", len(valores_unicos),": ", valores_unicos)
        print("")

In [6]:
verificar_tipo_datos(df)

publisher  (nulos) =  8052
genres  (nulos) =  3283
app_name  (nulos) =  2
title  (nulos) =  2050
url  (nulos) =  0
release_date  (nulos) =  2067
tags  (nulos) =  163
reviews_url  (nulos) =  2
specs  (nulos) =  670
price  (nulos) =  1377
early_access  (nulos) =  0
id  (nulos) =  2
developer  (nulos) =  3299

filas completamente nulas:  0

    nombre_campo                         tipo_datos  no_nulos_%  nulos_%
0      publisher   [<class 'str'>, <class 'float'>]       74.94    25.06
1         genres  [<class 'list'>, <class 'float'>]       89.78    10.22
2       app_name   [<class 'str'>, <class 'float'>]       99.99     0.01
3          title   [<class 'str'>, <class 'float'>]       93.62     6.38
4            url                    [<class 'str'>]      100.00     0.00
5   release_date   [<class 'str'>, <class 'float'>]       93.57     6.43
6           tags  [<class 'list'>, <class 'float'>]       99.49     0.51
7    reviews_url   [<class 'str'>, <class 'float'>]       99.99     0.01
8          specs  [<class 'list'>, <class 'float'>]       97.92     2.08
9          price   [<class 'float'>, <class 'str'>]       95.71     4.29
10  early_access                   [<class 'bool'>]      100.00     0.00
11            id   [<class 'str'>, <class 'float'>]       99.99     0.01
12     developer   [<class 'str'>, <class 'float'>]       89.73    10.27

In [7]:
verificar_datos_unicos(df)

publisher  ( float )  1 :  [nan]
publisher  ( int )  0 :  []
publisher  ( str )  8239 :  ['Kotoshiro' 'Making Fun, Inc.' 'Poolians.com' ... 'OrtiGames/OrtiSoft'
 'INGAME' 'Bidoniera Games']

genres  ( float )  1 :  [nan]
genres  ( int )  0 :  []
genres  ( str )  0 :  []

app_name  ( float )  1 :  [nan]
app_name  ( int )  0 :  []
app_name  ( str )  32094 :  ['Lost Summoner Kitty' 'Ironbound' 'Real Pool 3D - Poolians' ...
 'Russian Roads' 'EXIT 2 - Directions' 'Maze Run VR']

title  ( float )  1 :  [nan]
title  ( int )  0 :  []
title  ( str )  30054 :  ['Lost Summoner Kitty' 'Ironbound' 'Real Pool 3D - Poolians' ...
 'LOGistICAL: South Africa' 'Russian Roads' 'EXIT 2 - Directions']

url  ( float )  0 :  []
url  ( int )  0 :  []
url  ( str )  32135 :  ['http://store.steampowered.com/app/761140/Lost_Summoner_Kitty/'
 'http://store.steampowered.com/app/643980/Ironbound/'
 'http://store.steampowered.com/app/670290/Real_Pool_3D__Poolians/' ...
 'http://store.steampowered.com/app/610660/Russian_Roads/'
 'http://store.steampowered.com/app/658870/EXIT_2__Directions/'
 'http://store.steampowered.com/app/681550/Maze_Run_VR/']

release_date  ( float )  1 :  [nan]
release_date  ( int )  0 :  []
release_date  ( str )  3582 :  ['2018-01-04' '2017-07-24' '2017-12-07' ... '2016-11-19' 'January 2018'
 '2018-10-01']

tags  ( float )  1 :  [nan]
tags  ( int )  0 :  []
tags  ( str )  0 :  []

reviews_url  ( float )  1 :  [nan]
reviews_url  ( int )  0 :  []
reviews_url  ( str )  32132 :  ['http://steamcommunity.com/app/761140/reviews/?browsefilter=mostrecent&p=1'
 'http://steamcommunity.com/app/643980/reviews/?browsefilter=mostrecent&p=1'
 'http://steamcommunity.com/app/670290/reviews/?browsefilter=mostrecent&p=1'
 ...
 'http://steamcommunity.com/app/610660/reviews/?browsefilter=mostrecent&p=1'
 'http://steamcommunity.com/app/658870/reviews/?browsefilter=mostrecent&p=1'
 'http://steamcommunity.com/app/681550/reviews/?browsefilter=mostrecent&p=1']

specs  ( float )  1 :  [nan]
specs  ( int )  0 :  []
specs  ( str )  0 :  []

price  ( float )  145 :  [4.99 0.99 2.99 3.99 9.99 18.99 29.99 nan 10.99 1.59 14.99 1.99 59.99 8.99
 6.99 7.99 39.99 19.99 7.49 12.99 5.99 2.49 15.99 1.25 24.99 17.99 61.99
 3.49 11.99 13.99 34.99 74.76 1.49 32.99 99.99 14.95 69.99 16.99 79.99
 49.99 5.0 44.99 13.98 29.96 119.99 109.99 149.99 771.71 21.99 89.99 0.98
 139.92 4.29 64.99 54.99 74.99 0.89 0.5 299.99 1.29 3.0 15.0 5.49 23.99
 49.0 20.99 10.93 1.39 36.99 4.49 2.0 4.0 9.0 234.99 1.95 1.5 199.0 189.0
 6.66 27.99 10.49 129.99 179.0 26.99 399.99 31.99 399.0 20.0 40.0 3.33
 199.99 22.99 320.0 38.85 71.7 59.95 995.0 27.49 3.39 6.0 19.95 499.99
 16.06 4.68 131.4 44.98 202.76 1.0 2.3 0.95 172.24 249.99 2.97 10.96 10.0
 30.0 2.66 6.48 19.29 11.15 18.9 2.89 99.0 87.94 599.0 8.98 9.69 0.49 9.98
 9.95 7.0 12.89 6.49 1.87 42.99 41.99 289.99 23.96 5.65 12.0 13.37 189.96
 124.99 19.98 160.91]
price  ( int )  0 :  []
price  ( str )  18 :  ['Free To Play' 'Free to Play' 'Free' 'Free Demo' 'Play for Free!'
 'Install Now' 'Play WARMACHINE: Tactics Demo' 'Free Mod' 'Install Theme'
 'Third-party' 'Play Now' 'Free HITMAN™ Holiday Pack' 'Play the Demo'
 'Starting at $499.00' 'Starting at $449.00' 'Free to Try' 'Free Movie'
 'Free to Use']

early_access  ( float )  0 :  []
early_access  ( int )  2 :  [False True]
early_access  ( str )  0 :  []

id  ( float )  1 :  [nan]
id  ( int )  0 :  []
id  ( str )  32132 :  ['761140' '643980' '670290' ... '610660' '658870' '681550']

developer  ( float )  1 :  [nan]
developer  ( int )  0 :  []
developer  ( str )  10992 :  ['Kotoshiro' 'Secret Level SRL' 'Poolians.com' ...
 'Oscar Ortigueira López,OrtiGames/OrtiSoft' 'INGAME' 'Bidoniera Games']

In [8]:
# Se genera una copia del datarame para poder restauralo
df1=df

## Analisis de valores duplicados

Se analiza si hay valores duplicados y de haberlos sabemos que podemos reducir el tamaño del dataframe

In [9]:
# Se revisan los valores duplicados segun la columna "id"
df[df['id'].duplicated()]

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
14573,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/Wolfe...,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,False,612880,Machine Games
30961,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",NaN,"[Single-player, Steam Achievements, Steam Trad...",19.99,False,NaN,"Rocksteady Studios,Feral Interactive (Mac)"

In [10]:
# Se eliminan los registros duplicados
indices = [14573,30961, 74]
df = df.drop(indices)

In [11]:
# Se cuentan la cantidad de valores nulos en cada columna
df.isnull().sum()

publisher       8051
genres          3282
app_name           1
title           2049
url                0
release_date    2066
tags             162
reviews_url        0
specs            669
price           1377
early_access       0
id                 0
developer       3298
dtype: int64

## Generacion de la columna release_year

Observando la consigna se requiere del año de lanzamiento y no de toda la fila completa por lo que se hace una columna nueva con este cambio y se quita la de release_date

In [12]:
# Extraer el año de la columna "release_date"
import re
# Definir la expresión lambda para extraer valores numéricos
extract_numerics = lambda x: re.findall(r'\d+\.\d+|\d+', str(x))

# Aplicar la expresión lambda
columna_especifica = 'release_date'
nueva_columna = "release_year"
df[nueva_columna] = df[columna_especifica].apply(lambda x: extract_numerics(x))

# Reemplazar NaN por 0.0 en la columna específica
df[nueva_columna] = df[nueva_columna].apply(lambda x: float(x[0]) if len(x) > 0 else 0.0)

In [13]:
# Convertir la columna "release_year" a tipo str
df["release_year"] = df["release_year"].astype(str)

# Reemplazar los valores ".0" por ""
df["release_year"] = df["release_year"].str.replace(".0", "")

In [14]:
df =df.drop(["release_date"], axis=1)

In [15]:
# Se revisan valores para "release_year"

df["release_year"].sort_values(ascending=False)

13428    52756441
15275           4
14333           4
31941           4
31999           4
           ...
18053           0
18058           0
18061           0
18063           0
32134           0
Name: release_year, Length: 32132, dtype: object

In [16]:
# Se requiere convertir a entero para que se puedan revisar outliers
df["release_year"] = df["release_year"].astype(int)

In [17]:
# Se revisan valores atipicos y outliers para la columna "release_year", tomando como referencia el año 1910 donde no habian videojuegos 

df["release_year"][(df["release_year"] < 1910) | (df["release_year"] > 2023)].value_counts()

release_year
0           2166
1             15
2              6
4              5
14             1
21             1
52756441       1
3              1
151            1
Name: count, dtype: int64

In [18]:
# Función para reemplazar valores menores a 1910 por "sin dato"
def replace_values(value):
    if (value < 1910) or (value > 2023):
        return "sin_dato"
    else:
        return value

# Aplicar la función a la columna "release_year"
df["release_year"] = df["release_year"].apply(replace_values)

In [19]:
# Convertir la columna "release_year" a tipo str para poder comparar posteriormente
df["release_year"] = df["release_year"].astype(str)

In [20]:
#Se genera un dataframe de restauración a este punto
df2= df

## Verificación de la columna prices

Otra columna que vamos a utilizar es la de prices por que tenemos que pasar a variable numerica su contenido para poder operar con ella.

In [21]:
# Se requiere que la columna "price" sea numérica, por ello se crea una nueva columna "price_num"
df["price_num"] = pd.to_numeric(df["price"], errors='coerce')

In [22]:
# Se remplazan los valores nulos de "price_num" por 0.0 donde "price" 
df["price_num"] = pd.to_numeric(df["price_num"], errors='coerce')

In [23]:
df["price_num"] = df["price_num"].fillna(0)

In [24]:
# Se redondean los valores en la columna "price_num" a dos decimales
df["price_num"] = df["price_num"].round(2)

In [25]:
# Se elimina la columna "price" del DataFrame
df.drop(columns=["price"], inplace=True)

# Se renombra la columna "price_num" a "price"
df.rename(columns={"price_num": "price"}, inplace=True)

In [26]:
# Se quitan valores duplicados
df = df.drop_duplicates(subset='id', keep='first')

In [27]:
# Se observa mediante un .info si hay valores nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32132 entries, 0 to 32134
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24081 non-null  object
 1   genres        28850 non-null  object
 2   app_name      32131 non-null  object
 3   title         30083 non-null  object
 4   url           32132 non-null  object
 5   tags          31970 non-null  object
 6   reviews_url   32132 non-null  object
 7   specs         31463 non-null  object
 8   early_access  32132 non-null  object
 9   id            32132 non-null  object
 10  developer     28834 non-null  object
 11  release_year  32132 non-null  object
 12  price         32132 non-null  float64
dtypes: float64(1), object(12)
memory usage: 3.4+ MB

## Limpieza de valores nulos

Con la información anterior podemos ver que hay varios nulos en las columnas por lo que se proceden a limpiar

In [28]:
# Se rellenan los nulos
df = df.fillna("Sin dato")

Despues de hacer las funciones me di cuenta que no se requiere explotar la columna genres para las primeras funciones por lo que se decidio dejar sin explotar para la primer funcion y se genero un CSV para ese trabajo.

In [29]:
df.to_csv("Games1.csv", index=False)

## Revisión de la columna genres

Se requiere expandir la columna genres con varias columnas ya que esta formada por varios argumentos. Pero esto se dejara para despues ya que se puede trabajar con dataframe más pequeño por mientras.

In [186]:
# Este codigo expande la columna genres
df = df.explode("genres")
df = df.dropna(subset=["genres"])
df.head()

,publisher,genres,app_name,title,url,tags,reviews_url,specs,early_access,id,developer,release_year,price
0,Kotoshiro,Action,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],False,761140,Kotoshiro,2018,4.99
0,Kotoshiro,Casual,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],False,761140,Kotoshiro,2018,4.99
0,Kotoshiro,Indie,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],False,761140,Kotoshiro,2018,4.99
0,Kotoshiro,Simulation,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],False,761140,Kotoshiro,2018,4.99
0,Kotoshiro,Strategy,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],False,761140,Kotoshiro,2018,4.99

## Se retiran columnas que no seran utilizadas 

Las columnas url, reviews_url, tags, specs tienen información que no se necesita para el analisis o esta repetida por lo que se retiran del dataframe

In [187]:
df = df.drop(["tags", "specs", "url", "reviews_url"], axis=1)
df

,publisher,genres,app_name,title,early_access,id,developer,release_year,price
0,Kotoshiro,Action,Lost Summoner Kitty,Lost Summoner Kitty,False,761140,Kotoshiro,2018,4.99
0,Kotoshiro,Casual,Lost Summoner Kitty,Lost Summoner Kitty,False,761140,Kotoshiro,2018,4.99
0,Kotoshiro,Indie,Lost Summoner Kitty,Lost Summoner Kitty,False,761140,Kotoshiro,2018,4.99
0,Kotoshiro,Simulation,Lost Summoner Kitty,Lost Summoner Kitty,False,761140,Kotoshiro,2018,4.99
0,Kotoshiro,Strategy,Lost Summoner Kitty,Lost Summoner Kitty,False,761140,Kotoshiro,2018,4.99
...,...,...,...,...,...,...,...,...,...
32132,Laush Studio,Racing,Russian Roads,Russian Roads,False,610660,Laush Dmitriy Sergeevich,2018,1.99
32132,Laush Studio,Simulation,Russian Roads,Russian Roads,False,610660,Laush Dmitriy Sergeevich,2018,1.99
32133,SIXNAILS,Casual,EXIT 2 - Directions,EXIT 2 - Directions,False,658870,"xropi,stev3ns",2017,4.99
32133,SIXNAILS,Indie,EXIT 2 - Directions,EXIT 2 - Directions,False,658870,"xropi,stev3ns",2017,4.99
32134,Sin dato,Sin dato,Maze Run VR,Sin dato,True,681550,Sin dato,sin_dato,4.99

In [188]:
# se retira tambien early_access
df = df.drop(["early_access"], axis=1)

In [190]:
# Se verifica que no queden espacios nulos 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74833 entries, 0 to 32134
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     74833 non-null  object
 1   genres        74833 non-null  object
 2   app_name      74833 non-null  object
 3   title         74833 non-null  object
 4   id            74833 non-null  object
 5   developer     74833 non-null  object
 6   release_year  74833 non-null  object
 7   price         74833 non-null  float64
dtypes: float64(1), object(7)
memory usage: 5.1+ MB

In [191]:
df.to_csv("gamesTrab.csv", index=False)

# Empezamos con el dataset de items

In [192]:
df1= pd.read_csv(r"items.csv")
df1

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [193]:
verificar_tipo_datos(df1)

user_id  (nulos) =  0
items_count  (nulos) =  0
steam_id  (nulos) =  0
user_url  (nulos) =  0
items  (nulos) =  0

filas completamente nulas:  0

  nombre_campo       tipo_datos  no_nulos_%  nulos_%
0      user_id  [<class 'str'>]       100.0      0.0
1  items_count  [<class 'int'>]       100.0      0.0
2     steam_id  [<class 'int'>]       100.0      0.0
3     user_url  [<class 'str'>]       100.0      0.0
4        items  [<class 'str'>]       100.0      0.0

In [194]:
df3 = pd.read_csv(r"reviews.csv", low_memory=False)
df3

,Unnamed: 0,user_id,items_count,steam_id,user_url,items
0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...,...
88305,88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [195]:
verificar_tipo_datos(df3)

Unnamed: 0  (nulos) =  0
user_id  (nulos) =  0
items_count  (nulos) =  0
steam_id  (nulos) =  0
user_url  (nulos) =  0
items  (nulos) =  0

filas completamente nulas:  0

  nombre_campo       tipo_datos  no_nulos_%  nulos_%
0   Unnamed: 0  [<class 'int'>]       100.0      0.0
1      user_id  [<class 'str'>]       100.0      0.0
2  items_count  [<class 'int'>]       100.0      0.0
3     steam_id  [<class 'int'>]       100.0      0.0
4     user_url  [<class 'str'>]       100.0      0.0
5        items  [<class 'str'>]       100.0      0.0

## El siguiente paso es revisar columnas cuales seran utilizadas y cuales no

Para el dataframe de OutputLimpio.csv se hace lo siguiente buscamos valores nulos en el nombre

In [ ]:
# Se quita la columna unnamed por que no es relevante
df1 = df1.drop(["Unnamed: 0"], axis=1)

In [ ]:
# Se hace una mascara que nos muestra la cantidad de valores nulos en el nombre
df1[df1["app_name"].isnull()]

In [ ]:
#Borramos la linea 74 ya que no contiene información relevante

In [ ]:
df1 = df1.drop(74)
df1[df1["app_name"].isnull()]

Podemos ver que developer y publisher son muy similares por lo que buscamos si una tiene información que la otra no y podamos rescatarla

In [ ]:
df1[df1["developer"].isnull()].head(50)

In [ ]:
# Colocamos la información que tiene publisher en developer
df1["developer"].fillna(df1["publisher"].isnull(), inplace=True)

In [ ]:
# Comprobamos que no hay informacion nula
df1[df1["developer"].isna()]

In [ ]:
# Se quita la columna de publisher
df1 = df1.drop(["publisher"], axis=1)

# Se quitan las columnas que no son relevantes
Se quita title porque es similar con 
Se quitan url y url_reviews ya que no es algo que nos interese para el analisis y la funcionalidad
Se quita elarly acces por lo mismo

In [ ]:
df1 = df1.drop(["title", "url","reviews_url","early_access"], axis=1)

De la columna fecha para la consigna solo nos importa el año en el que salio el juego, por lo que lo extraemos en una columna nueva

In [ ]:
# Extraer el año de la columna "release_date"
import re
# Definir la expresión lambda para extraer valores numéricos
extract_numerics = lambda x: re.findall(r'\d+\.\d+|\d+', str(x))

# Aplicar la expresión lambda
columna_especifica = 'release_date'
nueva_columna = "release_year"
df1[nueva_columna] = df1[columna_especifica].apply(lambda x: extract_numerics(x))

# Reemplazar NaN por 0.0 en la columna específica
df1[nueva_columna] = df1[nueva_columna].apply(lambda x: float(x[0]) if len(x) > 0 else 0.0)

Se quitan valores duplicados

In [ ]:
# Con una mascara buscamos duplicados y buscamos donde estan
df11 = df1[df1.duplicated(keep=False)]
df11

In [ ]:
# Se quitan los indices repetidos
df1 = df1.drop( 13894) 
df1 = df1.drop(14573)

Con todo lo anterior exportamos las transformaciones como un dataframe Limpio

In [ ]:
df1.to_csv("OutputFinal.csv")